main {
  min-height: 90vh;
  padding: 8rem;
}

.theme {
  position: absolute;
  top: 3%;
  right: 3%;
}

.dark {
  cursor: pointer;
  color: white;
  background: $blue-variant;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0rem .3rem 1rem rgba($color: #000000, $alpha: 0.2),
              0rem .6rem 2rem rgba($color: #000000, $alpha: 0.2);
}

.main-head {
  max-width: 30%;
  margin: auto;
  text-align: center;

  h1 {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: $blue-variant;
  }

  ul {
    padding: 3rem 0rem;
    @include flex(center, center, row);
    flex-wrap: wrap;
    li {
      list-style: none;
      padding: .5rem;
    }
  }

  button {
    background: $gray-variant;
    padding: 1rem 1rem;
    border: .3rem solid $gray-variant;
    border-radius: .3rem;
    transition: all .3s ease;
    cursor: pointer;

    &:hover, &.active {
      background-color: darken($color: $gray-variant, $amount: 7%);
      border-color: darken($color: $gray-variant, $amount: 10%);
    }
  }
}

.main-info {
  @include flex(space-between, center, row);
  padding: 4rem 0rem;
  max-width: 60%;
  margin: auto;
  flex-wrap: wrap;
  gap: 1.6rem;

  label {
    padding-bottom: 2rem;
  }
}

.user-area {
  flex: 1 1 30rem;
  @include flex(center, center, column);

  #user-textarea {
    width: 100%;
    min-height: 20rem;  
    border-radius: .3rem;
    padding: 1rem;
    word-wrap: break-word;
    text-align: left;
  }
}

.formatted-area {
  flex: 1 1 30rem;
  max-width: 50%;
  @include flex(center, center, column);

  #formatted-textarea {
    align-self: stretch;

    min-height: 20rem;
    border-radius: .3rem;
    padding: 1rem;
    word-wrap: break-word;
    text-align: left;
    background: $gray-variant;
  }
}

footer {
  min-height: 10vh;
  background-color: $blue-variant;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  @include flex(center, center, row);
}