html {
  font-size: 62.5%;
}

*, :after, :before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: white;
}

label, li, button, p, textarea {
  font-weight: 500;
  font-size: 2rem;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

main {
  min-height: 90vh;
  padding: 8rem;
}

.theme {
  position: absolute;
  top: 3%;
  right: 3%;
}

.dark {
  cursor: pointer;
  color: white;
  background: #3700B3;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  -webkit-box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.2), 0rem 0.6rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.2), 0rem 0.6rem 2rem rgba(0, 0, 0, 0.2);
}

.main-head {
  max-width: 30%;
  margin: auto;
  text-align: center;
}

.main-head h1 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 1rem;
  color: #3700B3;
}

.main-head ul {
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head ul li {
  list-style: none;
  padding: .5rem;
}

.main-head button {
  background: #f8f9fa;
  padding: 1rem 1rem;
  border: 0.3rem solid #f8f9fa;
  border-radius: .3rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.main-head button:hover, .main-head button.active {
  background-color: #e3e7eb;
  border-color: #dae0e5;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4rem 0rem;
  max-width: 60%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.6rem;
}

.main-info label {
  padding-bottom: 2rem;
}

.user-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-area #user-textarea {
  width: 100%;
  min-height: 20rem;
  border-radius: .3rem;
  padding: 1rem;
  word-wrap: break-word;
  text-align: left;
}

.formatted-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formatted-area #formatted-textarea {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  min-height: 20rem;
  border-radius: .3rem;
  padding: 1rem;
  word-wrap: break-word;
  text-align: left;
  background: #f8f9fa;
}

footer {
  min-height: 10vh;
  background-color: #3700B3;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dark-theme {
  background: #202529;
}

.dark-theme .theme button {
  background: #BB86FC;
  -webkit-box-shadow: 0rem 0.3rem 1rem rgba(255, 255, 255, 0.3), 0rem 0.6rem 2rem rgba(255, 255, 255, 0.3);
          box-shadow: 0rem 0.3rem 1rem rgba(255, 255, 255, 0.3), 0rem 0.6rem 2rem rgba(255, 255, 255, 0.3);
}

.dark-theme .main-head h1 {
  color: #BB86FC;
}

.dark-theme .main-head button {
  background: #03DAC6;
  border-color: #03DAC6;
}

.dark-theme .main-head button:hover, .dark-theme .main-head button.active {
  color: white;
  background: #657a8e;
  border-color: #bdc6d0;
}

.dark-theme .main-info label {
  color: white;
}

.dark-theme .formatted-area #formatted-textarea {
  background: #03DAC6;
}

.dark-theme footer {
  background: #BB86FC;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 1213px) {
  .formatted-area {
    max-width: 100%;
  }
}

@media screen and (max-width: 943px) {
  html {
    font-size: 53%;
  }
  main {
    padding: 8rem 2rem;
  }
  .main-head,
  .main-info {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */